@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

$roboto: 'Roboto Condensed', sans-serif;
$sansSerif: sans-serif;
$arial: Arial, Helvetica, sans-serif;
